@charset "UTF-8";

body{
	background-color: whitesmoke;
}
	div > a{
		text-decoration: none;
		text-align: center;
		font-weight: bold;
		color:white;
	}
	.top_main{
		width:100%; 
	}
	.main_img{
		position: relative;
	}
	.main_text{
		position: absolute;
		top:40%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	.title{
		font-size: 4em;
		color: white;
		font-weight: bold;
	}
	.menu{
		width: 20%;
		background-color: darkolivegreen;
		float: left;
		width: 25%;
		color:white;
		border-left : 1px white solid;
        box-sizing:border-box;
		margin:70px 0px;
	}
	.menubar{
		clear:both;
		width:100%;
	}
	.menubar>div:hover{
        background-color: darkkhaki;
        opacity: 0.5;
		
	}
	
	.sign{
		text-decoration: none;
		float: right;
		text-align: right;
		margin-right: 10px;
	}
