@charset "UTF-8";

div{ 
		margin: auto;
	} 
	input{
		padding:20px;
	}
	p{
		text-align: center;
	}
	float: left;
	.skip{
		float: right;
		width:40%;
		
	}
	.chk{
		clear: both;
		margin: auto;
		width: 100%;
	}
	form{
	}
	img{
		width:100%;
	}
	.box1{
		width:50%;
	}
	.box2{
		width:50%;
	}
	
